<div ng-cloak>
	<div  class="row" style="padding-left: 20px;">
		<div class="panel panel-default col-md-2" >
	        <form ng-submit="addBookCategory()">
	            <div class="form-group">
	                <label for="categoryName">Nazwa Kategorii:</label>
	            	<input type="text" id="categoryName" placeholder="Nazwa" class="form-control" ng-model="newCategory.name" style="width: 180px" />
	                <label for="categoryDescription">Opis Kategorii:</label>
	                <textarea class="form-control" rows="5" id="comment" id="categoryDescription" ng-model="newCategory.description" style="width: 250px"></textarea>
	                <label for="responsiblePerson">Osoba odpowiedzialna:</label>
	            	<input type="text" id="responsiblePersonName" placeholder="Imię" class="form-control" ng-model="newCategory.person.name" style="width: 180px" />
	            	<input type="text" id="responsiblePersonSurname" placeholder="Nazwisko" class="form-control" ng-model="newCategory.person.surname" style="width: 180px" />
	            	<input type="submit" class="btn btn-default" value="Dodaj" />
	            </div>
	        </form>
	    </div>
        <div  class="panel panel-default col-md-4" style="margin-left: 20px;">
				<table class="table table-hover">
					<thead>
					  <tr>
					    <th>Nazwa</th>
					    <th>Opis</th>
					    <th>Imię</th>
					    <th>Nazwisko</th>
					    <th>Edytuj</th>
					    <th>Usun</th>					    					    
					  </tr>
					</thead>
					<tbody>
					  <tr ng-repeat="(id,category) in bookCategories">
					    <td ng-hide="editBookCategory(id)">{{category.name}}</td>
					    <td ng-hide="editBookCategory(id)">{{category.description}}</td>
					    <td ng-hide="editBookCategory(id)">{{category.person.name}}</td>
					    <td ng-hide="editBookCategory(id)">{{category.person.surname}}</td>
					    <td ng-show="editBookCategory(id)"><input type="text" class="form-control" ng-model="category.name"/></td>
					    <td ng-show="editBookCategory(id)"><input type="text" class="form-control" ng-model="category.description"/></td>
					    <td ng-show="editBookCategory(id)"><input type="text" class="form-control" ng-model="category.person.name"/></td>
					    <td ng-show="editBookCategory(id)"><input type="text" class="form-control" ng-model="category.person.surname"/></td>					    
					    <td><input type="submit" class="btn btn-default" value="" ng-click="updateBookCategory(id)" /></td>
					    <td><input type="submit" class="btn btn-default" value="" ng-click="removeBookCategory(id)" /></td>
					  </tr>
					</tbody>
				</table>
        </div>
   </div>	
</div>
   
